body {
    background: #eeeeee;
    font-family: "Nunito SemiBold";
}


/* #main {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    padding: 0;
    position: relative;
} */

#book-list {
    padding: 0;
}

#book-list li {
    border: 1px solid #880e4f;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    color: #880e4f;
    cursor: pointer;
    display: inline-block;
    margin: 12px;
    padding: 10px;
}

.bullet {
    color: #cccccc;
    padding: 0 15px;
}

/* div p {
    display: inline-block;
} */
/*
div p:nth-child(1) {
    width: 150px;
}

div p:nth-child(3) {
    width: 50px;
}

div p:nth-child(5) {
    width: 50px;
}

div p:nth-child(7) {
    width: 50px;
}

div p:nth-child(9) {
    width: 150px;
} */



#book-details {
    background: #ad1457;
    box-shadow: -2px -3px 5px rgba(0,0,0,.3);
    box-sizing: border-box;
    color: #ffffff;
    height: 100%;
    overflow: auto;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 40%;
}
